<div
  #editorElement
  id="editor-element"
  class="editor-element"
  contenteditable="true"
  placeholder="placeholder"
  [ngStyle]="{
    'min-height': minHeight < maxHeight ? minHeight+'px' : '',
    'max-height': maxHeight > minHeight ? maxHeight+'px' : '',
    'height': height ? height+'px' : '100%'
  }"
  (keyup)="keyupEvent($event)"
  (keydown)="keydownEvent($event)"
  (paste)="pasteEvent($event)"
  (focus)="focusEvent($event)"
  (blur)="blurEvent($event)"
  (change)="changeEvent()"
></div>
